{{ template "header.html" }}
{{ template "nav.html" }}
        
        <div class="middle sign-up">

            <script type="text/javascript">

            </script>

            <div class="main">

                <h3>Sign Up</h3>
                <br />

                <form method="post" action="/sign-up-submit">
                    <input name="email" placeholder="E-mail" /><br /><br />
                    <input name="username" placeholder="username" /><br /><br />
                    <input type="password" name="password" placeholder="password" /><br /><br />
                    <input type="submit" value="Sign Up" /><br />
                </form>

            </div>
          

        </div>
        
{{ template "footer.html" }}